li.dropdown-header{
	color:DarkGray;
}
nav{
	background-color: #0088D2;
}
.navbar-toggle {
	border-color:white;
}
.navbar-toggle .icon-bar {
    background-color: white;
}
nav a{
	color:white;
}
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}
